# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Environment variables
.env
.env.local
response.json

# AWS
.aws/
deployment/
*.zip

# VS Code
.vscode/settings.json

# Logs
*.log